[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/tsaleh/vim-supertab.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/easygrep"]
	path = bundle/easygrep
	url = git://github.com/vim-scripts/EasyGrep.git
[submodule "bundle/python-syntax"]
	path = bundle/python-syntax
	url = git://github.com/olivierverdier/python-syntax.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/olivierverdier/python-syntax.vim.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "bundle/mw-utils"]
	path = bundle/mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
